div(ng-controller="BookListController")
  ul
    li(ng-repeat="book in books")
      a(href="#/books/{{ book._id }}") {{ book.title }}
      input(type="submit" value="Delete" ng-click="delBook(book._id)")