h1 {{ bookTitle }}:
div.medium-6
  form(ng-submit="uptateBook()")
    label Title:
    input(type="text", name="title" ng-model="bookTitle")
    label Shelf:
    input(type="text", name="shelf" ng-model="bookShelf")
    input(type="hidden", name="shelf" ng-model="bookId")
    input.button(type="submit", value="Update")