form(ng-submit="addBook()" ng-controller="BookAddController")
  label Title:
  input(type="text", name="title" ng-model="newBookTitle")
  label Shelf:
  input(type="text", name="shelf" ng-model="newBookShelf")
  input(type="submit", value="Add")