h1 Add a book:
div.medium-6
  form(ng-submit="addBook()")
    label Title:
    input(type="text", name="title" ng-model="newBookTitle")
    label Shelf:
    input(type="text", name="shelf" ng-model="newBookShelf")
    input.button(type="submit", value="Add")