input(type="text" ng-model="filterName")
ul(ng-controller="BookListController")
  li(ng-repeat="book in books | filter:filterName")
    a(href="#/books/{{ book._id }}") {{ book.title }}
    input(type="submit" value="Delete" ng-click="delBook(book._id)")