doctype html
html(ng-app="libraryApp")
  head
    block title
      title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    ul.menu
      li: a(href="#/") Home
      li: a(href="#/books/add") Add Book
    div(ng-view)
    script(src="/js/angular.min.js")
    script(src="/js/angular-route.min.js")
    script(src="/app.js")