doctype html
html(ng-app="libraryApp")
  head
    block title
      title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    block content
    script(src="/js/angular.min.js")
    script(src="/app.js")